<div class="container formstyle">
  <h1>Editing Candidate</h1>
  <%= render 'form', candidate: @candidate %>
</div>
<h3> <%= link_to 'Show', @candidate %> |
  <%= link_to 'Back', candidates_path %> </h3>
