<div class="container formstyle"> 
  <h1>Editing exam</h1>
  <%= render 'form', exam: @crecord %>
</div>
<h3><%= link_to 'Show', candidate_candidate_exam_detail_path %> |
  <%= link_to 'Back', candidate_candidate_exam_detail_path %></h3>

