<div class="container formstyle">
  <h1>New Exam details</h1>
  <%= render 'form', crecord: @crecord %>
</div>
<h3> Back to:<%= link_to 'Candidate Exam Details', candidate_candidate_exam_details_path %> </h3>
