<nav class="navbar navbar-default navbar-static-top navbar-custom ">
  <div>
    <div class="navbar-header ">
      <div class="container">
	<div class="navbar-header">
          <%= link_to "Candidate", root_path, class: "navbar-brand" %>
	</div>
	<div class="nav navbar-nav navbar-right">
          <%= link_to "Exam", root_path, class: "navbar-brand" %>
	</div>
	<div class="navbar-header">
          <%= link_to "Log in", root_path, class: "navbar-brand" %>
	</div>
	<ul class="nav navbar-nav navbar-right">
	</ul>
      </div>
</nav>


